<!-- Code by Rene -->
 <div class="row interaktionsbuttons single-player-card-pop-up">
     <div class="row">
         <input class="interaktionsbutton" type="button" id="buyStreet" name="verkaufen"
                data-value="{{ card.getStreetEntity.playfieldId }}" value="Straße kaufen">
     </div>

    <div class="row">
        <input class="interaktionsbutton" type="button" id="haus_kaufen" name="haus_kaufen"
               data-value="{{ card.getStreetEntity.playfieldId }}" value="Haus kaufen">
    </div>
    <div class="row">
        <input class="interaktionsbutton" type="button" id="hypothek_aufnehmen" name="hypothek_aufnehmen"
               data-value="{{ card.getStreetEntity.playfieldId }}" value="Hypothek aufnehmen">
    </div>
     <div class="row">
         <input class="interaktionsbutton" type="button" id="verkaufen" name="verkaufen"
                data-value="{{ card.getStreetEntity.playfieldId }}" value="Straße verkaufen">
     </div>
    <div class="row">
        <input class="interaktionsbutton" type="button" id="haus_verkaufen" name="haus_verkaufen"
               data-value="{{ card.getStreetEntity.playfieldId }}" value="Haus verkaufen">
    </div>
    
</div>