{% extends 'Core/Views/Base.html.twig' %}

{% block javascript %}
let gameField = new PlayField();
let card = new Card();
let round = new Round();
let score = new Score();
{% endblock %}

{% block site %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <div class="container-margin">
        <div class="row-besides">

            {# Spielfeld #}
            <div class="relative-positioning">
            <div class="flip-card-stay flip-card"></div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                                    <div class="gemeinschaftskarte"></div>
                    </div>
                    <div class="flip-card-back">
                       gemeinschaftskarten-text
                    </div>
                </div>
            </div>
            <div class="flip-card-stay other-color flip-card flip-card-new-position"></div>
            <div class="flip-card other-color flip-card-new-position">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="ereigniskarte"></div>
                    </div>
                    <div class="flip-card-back">
                       gemeinschaftskarten-text
                    </div>
                </div>
            </div>
            <div class="ereigniskarte"></div>

                {% for id in 0..39 %}
                    {% include 'Game/Views/PlayField/PlayField.html.twig' %}
                {% endfor %}
                <img class="spielfeld" src="{{ imgPath }}{{ playFieldJPG }}" alt="Spielfeld">
                {% include 'Game/Views/Dice.html.twig' %}
            </div>

            {# Spieler und Straßenanzeige #}

            <div class="col spieler-strassen-anzeige">
                <div class="spieleranzeige">
                    <b>Spieler am Zug:</b> {{ saveGame['activePlayerId'] }}
                </div>
                <div class="GeldInfo">
                    <b>Kontostand:</b> <span id="currentMoney">{{ saveGame['activePlayerMoney'] }}</span>
                </div>
                <br>
                {# Karteplatzhalter
                {% set selectable='playField' %}
                {% set id = 1 %}
                <b>Straßen im Besitz:</b>
                <div id="ownedStreets">
                    {{ saveGame['activePlayerStreets']  | raw }}
                </div>
                #}
                {# //TODO 09.02.2023 Selina: money anpassen wenn straße gekauft / verkauft
                {% include 'Game/Views/Single-Card.html.twig' %}
                #}
                {# Karteplatzhalter Ende #}

                {# Menu-Buttons #}

            </div>
            <div class="col margin-buttons">
                <div class="row interaktionsbuttons">
                    <div class="row">
                        {% set disabled = '' %}
                        {% if saveGame['rolledDice'] == 1 %}
                            {% set disabled = 'disabled' %}
                        {% endif %}
                        <input class="interaktionsbutton diceButton" type="button" id="wuerfeln" data-action="Move"
                            name="wuerfeln" value="Würfeln" {{ disabled }}>
                    </div>
                    <div class="row">
                        <input class="interaktionsbutton" type="button" id="handelsmenue_oeffnen"
                            name="handelsmenue_oeffnen" value="Handelsmenü öffnen">
                    </div>
                </div>
                <div class="row next-player-button interaktionsbuttons-margin">
                    {% set disabled = '' %}
                    {% if saveGame['rolledDice'] == 0 %}
                        {% set disabled = 'disabled' %}
                    {% endif %}
                    <input class="interaktionsbutton" type="button" id="next_player" name="next_player"
                        value="nächster Spieler" {{ disabled }}>
                </div>

            </div>
        </div>

    </div>








{% endblock %}