
<!-- Code by Rene -->
{% block site %}
<style>

@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');



</style>
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
<div class="container text-center single-card player-card">
    <div class="row">
        <div class="col street-color street-name">
           {{ card.getStreetEntity.getName }}

        </div>
    </div>
    <div class="row row-street-properties">
        <div class="col street-properties">
            <div class="kosten-bereich">
                <div class="row row-width">
                    Miete: <span class="uebergabewerte-align-right">{{ card.getStreetEntity.getBuildingRent0 }}</span>
                </div>
                <div class="row line-height">
                    Miete mit 1 Haus: <span class="uebergabewerte-align-right">{{ 'miete1' }}</span>
                </div>
                <div class="row line-height">
                    Miete mit 2 Häusern: <span class="uebergabewerte-align-right">{{ 'miete2' }}</span>
                </div>
                <div class="row line-height">
                    Miete mit 3 Häusern: <span class="uebergabewerte-align-right">{{ 'miete3' }}</span>
                </div>
                <div class="row line-height">
                    Miete mit 4 Häusern: <span class="uebergabewerte-align-right">{{ 'miete4' }}</span>
                </div>
                <div class="row line-height">
                    Miete mit 1 Hotel: <span class="uebergabewerte-align-right">{{ 'mietehotel' }}</span>
                </div>
            </div>
            <div class="kauf-bereich">
                <div class="row line-height">
                    Kosten für 1 Haus: <span class="uebergabewerte-align-right">{{ 'kostenhaus' }}</span>
                </div>
                <div class="row line-height">
                    Kosten für 1 Hotel: <span class="uebergabewerte-align-right">{{ 'kostenhotel' }}</span>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}