<div class="container" style="color: black">
    <div class="row">
        <h1 style="text-align: center">{{ msg | raw }}</h1>
    </div>
    <div class="row">
        {% for placement, score in scores  %}
            <h{{ placement+1 }} style="text-align: center"> <img src="{{ IMG_PATH }}score/pokal{{ placement+1 }}" style="width: 15px; height: 15px;"> Platz #{{ placement+1 }}  Spieler: {{ score['inGamePlayerId'] }} Score: {{ score['score'] }}</h{{ placement+1 }}>
        {% endfor %}
    </div>
</div>